:root{
    --p-featurs-product: 25 40px;
    --g-featurs-product: 10px;
    --w-products: 280px;
    --h-products: 400px;
}
html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    cursor: none;
}
body::-webkit-scrollbar {
    display: none;
    }
*{
    margin: 0;
    padding: 0;
}
#cursor{
    width: 10px;
    height: 10px;
    background-color: orange;
    position: fixed;
    border-radius: 50%;
    z-index: 99999999;
    pointer-events: none;
}
#cursor2{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.13);
    position: fixed;
    border-radius: 50%;
    z-index: 99999998;
    pointer-events: none;
}
#main-body::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: green;
    }
.menus{
  /*    display: flex;
    justify-content:space-between;
    align-items: end;
    padding: 5px 5%;
   font-family: poppins, sans-serif; 
    ul:first-child{
        display: flex;
        gap: 25px;
        a{
            font-sidze: 17px;
        }
    }*/
    ul:last-child{
        display: flex;
        gap: 20px;
        li{
            padding: 10px;
            border: 1px solid silver;
            border-radius: 10px;
            transform: 1s ease;
        }
        a{
            svg{
                height: 30px;
                padding: 3px;
                fill: rgba(0, 0, 0, 0.829);
            }
        }
        li:hover{
            background-color: orange;
            border-color: orange;
        }
        li:hover a svg{
            fill: white;
        }
            p{
                position: absolute;
                background-color: orange;
                color: white;
                margin-top: -50px;
                margin-left: 30px;
                padding: 5px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
            }
    }
}

/************* start slider ************/
.slider-main {
    width: 100vw;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}
.slids {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slids img {
    width: 100%;
    height: auto;
}
.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}
.dot-container {
    text-align: center;
    margin-top: -25px;
    position: relative;
}

.dot {
    height: 6px;
    width: 25px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    /* cursor: pointer; */
}
.dot-active {
    background-color: orange;
}
.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}
/************* end slider ************/

/************* start categories ************/
.categories{
    width: 100%;
    height: 200px;
    overflow: hiddden;
    padding: 20px 100px;
    h1{
        font-size: 25px;
        font-weight: 700;
        font-family: poppins, sans-serif;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .sliderr-btn{
        width: 92%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-left: -40px;
        margin-top: 85px;
        z-index: 999;
        button{
            background-color: rgb(255, 166, 0);
            padding: 15px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }
        svg{
            width: 20px;
            fill: white;
        }
    }
    .ctgy-slid{
        display: flex;
        width: 100%;
        gap: 10px;
        overflow-x: scroll;
        border-radius: 13px;
        a{
            min-width: 200px;
            max-width: 200px;
            height: max-content;
            background-color: rgba(255, 166, 0, 0.589);
            color: white;
            display: flex;
            flex-direction: column;
            border-radius: 13px;
            overflow: hidden;
            .ctgy-top{
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                }
            }
            .ctgy-down{
                font-size: 18px;
                font-family: poppins, sans-serif;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5px;
                height: auto;
            }
        }
    }
}
.ctgy-slid::-webkit-scrollbar {
display: none;
}
/************* end categories ************/

/************** start ftrs products ******************/
.featurs-product{
    padding: var(--p-featurs-product);
    margin: 0 20px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
    border-radius: 13px;
    gap: var(--g-featurs-product);
    .products{
        width: 280px;
        height: 400px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
        /* cursor: pointer; */
        margin-top: 10px;
    }
    .top-a{
        width: 100%;
        height: 100%;
    }
    .top{
        text-align: -webkit-right;
        width: 100%;
        padding: 10px;
        button{
            padding: 5px 10px;
            border-radius: 10px;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.171);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center !important;
            justify-content: center;
            i{
                font-size: 19px;
            }
        }
        button:hover{
            background-color: orange;
        }
        button:hover i{
            color: white !important;
        }
    }
    .down{
        width: 100%;
        backdrop-filter: blur(17px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255, 255, 255, 0.644);
        overflow: hidden;
        padding: 10px;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 1s;
        behavior: smooth;

        h1{
            width: 100%;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            font-weight: 5  00;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h2{
            font-size: 20px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            color: orangered;
            text-align: center;
            margin-top: -15px;
        }
        section{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: -25%;
                transition: 1s;
                button {
                    padding: 6px 10px;
                    background-color: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: 1.5s ease;
                    overflow: hidden;
                    opacity: 0;
                    h6 {
                        width: 0; 
                        visibility: hidden;
                        position: absolute;
                        white-space: nowrap;
                        transition: 0.5s ease;
                        color: transparent;
                        transform: scale(0);
                        overflow: hidden;
                    }
                    i {
                        font-size: 23px;
                        color: orange;
                    }
                }
                
                button:hover {
                    background-color: orange;
                }
                
                button:hover h6 {
                    width: auto; /* You might want to set it to auto or a specific width */
                    visibility: visible;
                    position: relative;
                    color: white;
                    transform: scale(1);
                }
                
                button:hover i {
                    color: white;
                }
                
        }
    }
}
.products:hover .down{
    box-shadow: -2.5px -5.35px 21px hsla(0, 0%, 0%, 0.178) !important;
}
.products:hover .down section{
    opacity: 1;
    margin-bottom: 0%;
}
.products:hover .down button{
    opacity: 1;
}
#favorited{
        i{
            color: orangered;
        }
}
/************** end ftrs products ****************/

/************** start banner ****************/

.bannerr{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
    border-radius: 13px;
    /* cursor: pointer; */
}
/************** end banner ****************/
/************** start footer ****************/
/* footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #042825;
    padding: 50px 30px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 14px;
        li{
            a{
                font-size: 14px;
                font-weight: 400;
                font-family: poppins, sans-serif;
                color: rgba(245, 245, 245, 0.397);
                h2{
                    color: whitesmoke;
                    font-size: 20px;
                    font-weight: 500;
                    padding-bottom: 15px !important;

                }
            }
            a:hover{
                color: rgba(245, 245, 245, 0.699);
            }
        }
    }
    ul:last-child{
        li{
            a{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              i{
                padding: 0 10px;
                font-size: 25px;
                color: #FF6F61;
              }
              h2{
                display: flex;
                flex-direction: column;
                padding: 0;
                padding: 0 10px;
                line-height: 23px;
                border-left: 1px dotted rgba(192, 192, 192, 0.26);
                span{
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(245, 245, 245, 0.397);
                }
              }
            }

        }
    }
} */
/************** end footer ****************/


/* ** header 2.0 ** */

.hdr{
    /* display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 25px 70px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 165px; */
}
.hdrD1{
    /* display: flex;
    justify-content: space-between; */
}
.logoD{
    /* height: 50px;
    width: auto; */
}
.logo{
    /* height: 100%; */
}
.srch{
    /* background-color: whitesmodke;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    border: 1px solid rgba(192, 192, 192, 0.438); */
}
.srchInpt{
        /* background-color: transparent;
        outline: none;
        color: black;
        width: 90%;
        padding-left: 15px; */
}
.srchA{
    /* background-color: orange;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%; */
}
.srchI{
    /* font-size: 20px;
    color: white; */
}
.hdrD1btns{
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px; */
}
.hdrD1btnsA{
    /* background-color: #fff;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 10px;
    height: min-content;
    border: 1px solid silver;
    transition: 1s ease; */
}
.hdrD1btnsA:hover{
    /* background-color: orange;
    border: 1px solid orange; */
}
.hdrD1btnsAI{
    /* font-size: 20px;
    color: black; */
}
.hdrD1btnsA:hover .hdrD1btnsAI{
    /* color: white; */
}
.hdrD2 {
    /* display: flex;
    justify-content: space-between;
    align-items:baseline;
    font-family: poppins, sans-serif; */
}
.ctgrys{
    /* padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 280px;
    transition: 1s ease;  */
}
.ctgry{
    /* display: flex;
    align-items: center !important;
    height: 0px;
    opacity: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s ease;  */

}
.ctgrys:hover {
    /* position: relative;
    background: whitesmoke;
    z-index: 9999; */
}
.ctgrys:hover .ctgry{
    /* height: 60px !important;
    opacity: 1; */
}
.ctgry:hover{
    /* background-color: #fff; */
}
.ctgry-active{
    /* height: 60px;
    opacity: 1;
    background-color: white;
    border: 1px solid #8080802c; */
}
.ctgryD{
    /* padding: 1px 10px;
    background-color: orange;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.ctgryDI{
    /* font-size: 25px;
    color: white; */
}
.ctgryImgs{
    /* width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px; */
}
.ctgryImg{

}
.ctgrySpn{
    /* font-size: 15px;
    font-family: poppins, sans-serif;
    padding-left: 10px;
    padding-right: 20px;
    color: blac; */
}

.menus {
    display: flex;
    gap: 20px;
    font-weight:  400;
    font-size: 15px;
    flex-grow: 1;
    justify-content: start;
    margin-left: 50px;
    margin-top: 4px;
}
.menusA{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50px;
}
.menusASpn{
    height: 100%;
}
.submenu{
    background-color: white;
    display: flex;
    position: absolute;
    margin-top: 48px;
    gap: 80px;
    padding: 15px 30px;
    height: 0;
    opacity: 0;
    transition: 1s ease;
}
.submenuD{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submenuStrng{
    margin-bottom: 10px;
}
.menusA:hover .submenu{
    height: min-content;
    opacity: 1;
    z-index: 999;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*===========================================
                product page start
============================================*/
#main-body{
    position: relative;
    z-index: 1;
}
.product-view-dev{
    width: 100%;
    height: 520px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    overflow: hidden !important;
    gap: 20px;
    padding: 10px 150px;
    position: relative;
    z-index: 1;
}
.product-view-images{
    display: flex;
    height: 100%;
    width: 50%;
    padding: 0 50px;
    gap: 10px;
    overflow: hidden !important;
}
.products-images{
    width: 80px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    img{
        height: 70px;
        width: auto;
        object-fit: cover;
    }
    img:first-child{
        border-top-left-radius: 10px;
    }
    img:last-child{
        border-bottom-left-radius: 10px;
    }
}
.product-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    img{
        width: auto !important;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 1hs ease;
        cursor: zoom-in;
    }
    
}
/* Zoomed image container styling */
.zoom-container {
    position: absolute;
    top: 0;
    left: 20px; 
    width: 600px;
    height: 600px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: none;
    z-index: 99;
}

.zoomed-image {
    position: absolute;
    width: 600px; /* Zoom level */
    height: 600px; /* Zoom level */
    object-fit: cover;
}
.product-view-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    .ttls{
        overflow: hidden; 
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        .title{
            font-size: 21px;
            font-weight: 500;
        }
    }
    .prcs{
        display: flex;
        flex-direction: column;
        gap: 0px;
        line-height: 30px;
        .discount{
            font-size: 19px;
            font-weight: 600;
            color: orangered;
        }
        .price{
            font-size: 25px;
            font-weight: 600;
            color: orange;
        }
    }
    .prdct-dscrpt{
        overflow: hidden; 
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        span{
            font-size: 17px;
            color: grey;
        }
        span:hover{
            color: black;
        }
    }
    .stock{
        font-size: 20px;
        font-weight: 600;
        color: grey;
        strong{
            font-weight: 500;
            color: black;
        }
    }
    .size{
        font-size: 18px;
        font-weight: 500;
        color: gray;
    }
    .size-dev{
        display: flex;
        gap: 15px;
    }
    .size-option {
        display: none;
    }
    .size-label {
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.418);
        transition: 1s ease;
    }
    .size-option:checked + .size-label{
        background-color: orange; 
        color: #fff;
        border-color: orange;
    }
    .size-option:hover + .size-label{
        background-color: orange; 
        color: #fff;
        border-color: orange;
    }
    .qty{
        display: flex;
        gap: 3px;
        .qty-input{
            font-size: 17px;
            width: 100px;
            height: 65px;
            text-align: center;
            padding: 5px 10px;
            border: 1px solid rgba(128, 128, 128, 0.418);
            border-radius: 5px;
        }
        .qty-btn{
            display: flex;
            flex-direction: column;
            gap: 3px;
            button{
                font-size: 20px;
                width: 50px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 5px;
                border: 1px solid rgba(128, 128, 128, 0.418);
                border-radius: 5px;
                transition: 1s ease;
            }
            button:hover{
                background-color: orange;
                color: white;
                border-color: orange;
            }
        }
    }
    .main-btn{
        display: flex;
        gap: 20px;
        transition: 1s ease-in;
        a{
            font-size: 18px;
            font-weight: 600;
            display: flex;
            gap: 5px;
            color: white;
            background-color: orange;
            padding: 12px 30px;
            border-radius: 8px;
            transition: 1s ease-in;
        }
        a:hover{
            border-radius: 50pc;
        }
    }
}
/* start product description and review */
.description-review-dev{
    padding: 10px 20px;
    .dscrp-rvew-h1{
        display: flex;
        gap: 10px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.418);
        h1{
            font-size: 22px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.507);
            padding: 10px 10px;
            border-bottom: 5px solid transparent;
            margin: 0 10px;
        }
        h1:hover{
            color: orange;
            border-bottom: 4px solid orange;
        }
        .active-review-h1{
            color: orange;
            border-bottom: 4px solid orange;
        }
    }
    .description{
        font-size: 18px;
        line-height: 35px;
        padding: 20px 150px;
        display: flex;
    }
    .review{     
        display: none;
        align-items: center;
        width: 100%;
        height: 600px;
        overflow: hidden;
        padding: 50px 5px;
        gap: 20px;
        .star {
            color: gray;
            font-size: 17px;
        }
        .star.filled {
            color: gold;
        }
        .review-1st{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            h1{
                font-size: 50px;
                font-weight: 600;
                color: grey;
            }
            section{
                span{
                    font-size: 30px;
                }
            }
        }
        .review-progress{
            width: 40%;
            section{
                display: flex;
                align-items: center;
                gap: 20px;
                .rating-bar-container {
                    width: 65%;
                    background-color: #ddd;
                    height: 7px;
                    border-radius: 5px;
                }
                .rating-bar {
                    height: 100%;
                    background-color: gold;
                    border-radius: 5px;
                }
            }
        }
        .reviews{
            width: 30%;
            height: 100%;
            nav{
                padding: 10px 20px;
                background-color: rgba(245, 245, 245, 0.589);
                height: 100%;
                overflow-y: scroll;
                border-radius: 10px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10vpx;
                    li{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        padding: 20px 0;
                        border-bottom: 1px solid grey;
                        .reviews-first{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            span{
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                        .reviews-middle{
                            overflow: hidden; 
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            span{
                                font-size: 14px;
                            }
                        }
                        .reviews-last{
                            height: 60px;
                            max-width: 100%;
                            display: flex;
                            gap: 5px;
                            overflow-x: scroll;
                            flex-wrap: nowrap;
                            img{
                                height: 100%;
                            }
                        }
                        .reviews-last::-webkit-scrollbar{
                            display: none;
                        }
                    }
                }
            }
            nav::-webkit-scrollbar{
                display: none;
            }
        }
    }
}
/* end product description and review */
/*===========================================
                product page end
============================================*/
/************ responsive **************/
@media screen and (max-width: 1200px) {
    :root {
        --p-featurs-product: 15px 10px;
        --g-featurs-product: 5px;
        --w-products: 250px;
        --h-products: 380px;
    }
}
@media screen and (max-width: 1200px) {
    :root {
        /* --p-featurs-product: 15px 10px; */
    }
}
