html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    cursor: none;
}
body::-webkit-scrollbar {
    display: none;
    }
*{
    margin: 0;
    padding: 0;
}
#cursor{
    width: 10px;
    height: 10px;
    background-color: #FF6F61;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
}
#cursor2{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 166, 0, 0.13);
    position: fixed;
    border-radius: 50%;
    z-index: 98;
    pointer-events: none;
}
#main-body::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: green;
    }
.menus{
  /*    display: flex;
    justify-content:space-between;
    align-items: end;
    padding: 5px 5%;
   font-family: poppins, sans-serif; 
    ul:first-child{
        display: flex;
        gap: 25px;
        a{
            font-sidze: 17px;
        }
    }*/
    ul:last-child{
        display: flex;
        gap: 20px;
        li{
            padding: 10px;
            border: 1px solid silver;
            border-radius: 10px;
            transform: 1s ease;
        }
        a{
            svg{
                height: 30px;
                padding: 3px;
                fill: rgba(0, 0, 0, 0.829);
            }
        }
        li:hover{
            background-color: #FF6F61;
            border-color: #FF6F61;
        }
        li:hover a svg{
            fill: white;
        }
            p{
                position: absolute;
                background-color: #FF6F61;
                color: white;
                margin-top: -50px;
                margin-left: 30px;
                padding: 5px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
            }
    }
}

/************* start slider ************/
.slider-main {
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}
.slids {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slids img {
    width: 100%;
    height: auto;
}
.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}
.dot-container {
    text-align: center;
    margin-top: -25px;
    position: relative;
}

.dot {
    height: 6px;
    width: 25px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    /* cursor: pointer; */
}
.dot-active {
    background-color: #FF6F61;
}
.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}
/************* end slider ************/

/************* start categories ************/
.categories{
    width: 100%;
    height: 200px;
    overflow: hiddden;
    padding: 20px 100px;
    h1{
        font-size: 25px;
        font-weight: 700;
        font-family: poppins, sans-serif;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .sliderr-btn{
        width: 92%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-left: -40px;
        margin-top: 85px;
        z-index: 999;
        button{
            background-color: #FF6F61;
            padding: 15px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }
        svg{
            width: 20px;
            fill: white;
        }
    }
    .ctgy-slid{
        display: flex;
        width: 100%;
        gap: 10px;
        overflow-x: scroll;
        border-radius: 13px;
        a{
            min-width: 200px;
            max-width: 200px;
            height: max-content;
            background-color: #FF6F61;
            color: white;
            display: flex;
            flex-direction: column;
            border-radius: 13px;
            overflow: hidden;
            .ctgy-top{
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                }
            }
            .ctgy-down{
                font-size: 18px;
                font-family: poppins, sans-serif;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5px;
                height: auto;
            }
        }
    }
}
.ctgy-slid::-webkit-scrollbar {
display: none;
}
/************* end categories ************/

/************** start ftrs products ******************/
.featurs-product{
    padding: 25px 5px;
    margin: 0 20px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
    border-radius: 13px;
    gap: 20px;
    .products{
        width: 280px;
        height: 400px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
        /* cursor: pointer; */
    }
    .top{
        text-align: -webkit-right;
        width: 100%;
        padding: 10px;
        button{
            padding: 5px 10px;
            border-radius: 10px;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.171);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center !important;
            justify-content: center;
            i{
                font-size: 19px;
            }
        }
        button:hover{
            background-color: #FF6F61;
        }
        button:hover i{
            color: white !important;
        }
    }
    .down{
        width: 100%;
        backdrop-filter: blur(17px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255, 255, 255, 0.329);
        overflow: hidden;
        padding: 10px;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 1s;
        behavior: smooth;

        h1{
            width: 100%;
            font-size: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h2{
            font-size: 20px;
            color: #D32F2F;
            font-weight: 800;
            text-align: center;
            margin-top: -15px;
        }
        section{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: -25%;
                transition: 1s;
                button {
                    padding: 6px 10px;
                    background-color: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: 1.5s ease;
                    overflow: hidden;
                    opacity: 0;
                    h6 {
                        width: 0; 
                        visibility: hidden;
                        position: absolute;
                        white-space: nowrap;
                        transition: 0.5s ease;
                        color: transparent;
                        transform: scale(0);
                        overflow: hidden;
                    }
                    i {
                        font-size: 23px;
                        color: #FF6F61;
                    }
                }
                
                button:hover {
                    background-color: #FF6F61;
                }
                
                button:hover h6 {
                    width: auto; /* You might want to set it to auto or a specific width */
                    visibility: visible;
                    position: relative;
                    color: white;
                    transform: scale(1);
                }
                
                button:hover i {
                    color: white;
                }
                
        }
    }
}
.products:hover .down{
    box-shadow: -2.5px -5.35px 21px hsla(0, 0%, 0%, 0.178) !important;
}
.products:hover .down section{
    opacity: 1;
    margin-bottom: 0%;
}
.products:hover .down button{
    opacity: 1;
}
#favorited{
        i{
            color: #FF6F61;
        }
}
/************** end ftrs products ****************/

/************** start banner ****************/

.bannerr{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
    border-radius: 13px;
    /* cursor: pointer; */
}
/************** end banner ****************/
/************** start footer ****************/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #042825;
    padding: 50px 30px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 14px;
        li{
            a{
                font-size: 14px;
                font-weight: 400;
                font-family: poppins, sans-serif;
                color: rgba(245, 245, 245, 0.397);
                h2{
                    color: whitesmoke;
                    font-size: 20px;
                    font-weight: 500;
                    padding-bottom: 15px !important;

                }
            }
            a:hover{
                color: rgba(245, 245, 245, 0.699);
            }
        }
    }
    ul:last-child{
        li{
            a{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              i{
                padding: 0 10px;
                font-size: 25px;
                color: #FF6F61;
              }
              h2{
                display: flex;
                flex-direction: column;
                padding: 0;
                padding: 0 10px;
                line-height: 23px;
                border-left: 1px dotted rgba(192, 192, 192, 0.26);
                span{
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(245, 245, 245, 0.397);
                }
              }
            }

        }
    }
/************** end footer ****************/
