
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
    }
*{
    margin: 0;
    padding: 0;
}
 
.menus{
  /*    display: flex;
    justify-content:space-between;
    align-items: end;
    padding: 5px 5%;
   font-family: poppins, sans-serif; 
    ul:first-child{
        display: flex;
        gap: 25px;
        a{
            font-sidze: 17px;
        }
    }*/
    ul:last-child{
        display: flex;
        gap: 20px;
        li{
            padding: 10px;
            border: 1px solid silver;
            border-radius: 10px;
        }
        a{
            svg{
                height: 30px;
                padding: 3px;
                fill: rgba(0, 0, 0, 0.829);
            }
        }
            p{
                position: absolute;
                background-color: orange;
                margin-top: -50px;
                margin-left: 30px;
                padding: 5px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }
}
.slider-main {
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}

.slids {
    width: 100%;
    height: 100%; /* পুরো উচ্চতা দিচ্ছি যাতে সঠিকভাবে পজিশন হয় */
    position: absolute;
    transition: transform 1s ease;
    display: flex; /* Flexbox ব্যবহার করছি */
    justify-content: center; /* Centering horizontally */
    align-items: center; /* Centering vertically */
}

.slids img {
    width: 100%;
    height: auto;
    /* max-height: 100%; */
}

.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}


.dot-container {
    text-align: center;
    margin-top: -25px;
    position: relative;
}

.dot {
    height: 6px;
    width: 25px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.dot-active {
    background-color: orange;
}



.slider-btn{
    width: 99%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* margin-bottom: -50px; */
    z-index: 999;
    top: 50%;
    button{
        background-color: #ffffff17;
        padding: 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }
    svg{
        width: 20px;
        fill: white;
    }
}


.categories{
    width: 100%;
    height: 200px;
    overflow: hiddden;
    padding: 20px 50px;
    h1{
        font-size: 25px;
        font-weight: 700;
        font-family: poppins, sans-serif;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .sliderr-btn{
        width: 98%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-left: -40px;
        margin-top: 90px;
        z-index: 999;
        button{
            background-color: orange;
            padding: 15px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }
        svg{
            width: 20px;
            fill: white;
        }
    }
    .ctgy-slid{
        display: flex;
        width: 100%;
        gap: 10px;
        overflow-x: scroll;
        border-radius: 13px;
        a{
            min-width: 200px;
            max-width: 200px;
            height: max-content;
            background-color: orange;
            display: flex;
            flex-direction: column;
            border-radius: 13px;
            overflow: hidden;
            .ctgy-top{
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    min-height: 100%;
                }
            }
            .ctgy-down{
                font-size: 18px;
                font-family: poppins, sans-serif;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5px;
                height: auto;
            }
        }
    }
}
.ctgy-slid::-webkit-scrollbar {
display: none;
}




/* start ftrs products */
.featurs-product{
    padding: 25px 5px;
    margin: 0 20px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
    border-radius: 13px;
    gap: 20px;
    .products{
        width: 280px;
        height: 400px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
        cursor: pointer;
    }
    .down{
        width: 100%;
        backdrop-filter: blur(17px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255, 255, 255, 0.329);
        overflow: hidden;
        padding: 10px;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 1s;
        behavior: smooth;

        h1{
            width: 100%;
            font-size: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h2{
            font-size: 20px;
            color: #D32F2F;
            font-weight: 800;
            text-align: center;
            margin-top: -15px;
        }
        section{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                opacity: 0;
                margin-bottom: -25%;
                transition: 1s;
            button{
                padding: 10px;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                gap: 10px;
                svg{
                    height: 20px;
                    fill: orange;
                }
            }
            button:hover{
                background-color: orange;
            }
            button:hover svg{
                fill: white;
            }
        }
    }
}
.products:hover .down{
    box-shadow: -2.5px -5.35px 21px hsla(0, 0%, 0%, 0.178) !important;
}
.products:hover .down section{
    opacity: 1;
    margin-bottom: 0%;
}
/* end ftrs products */

/* start banner */
.banner{
    width: 100%;
    height: 275px;
    margin: 0 10px;
    border-radius: 13px;
    overflow: hidden;
    background-color: gold;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    img{
        width: 100%;
        height: auto;
    }
}
/* end banner */
