.banner{
    margin: 10px 10px;
    div{
    width: 100%;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
        img{
            width: 100%;
            height: auto; 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            object-fit: cover;
        }
    }
}