.categories{
    width: 100%;
    height: var(--h-ctgy);
    overflow: hidden;
    padding: 20px 80px;
    position: relative;
    .ctgy-main{
        height: 100%;
        width: 100%;
        position: relative;
        button{
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50pc;
            background-color: #ffa600;
            backdrop-filter: blur(10px);
            position: absolute;
            top: 37%;
            z-index: 99;
            svg{
                width: 15px;
                fill: white;
            }
        }
        .ctgy-btn-left{
            left: 0;
            margin-left: -25px;
        }
        .ctgy-btn-right{
            right: 0;
            margin-right: -25px;
        }
        .ctgy-slid{
            display: flex;
            width: 100%;
            height: 100%;
            gap: 10px;
            overflow-x: scroll;
            border-radius: 13px;
            position: relative;
            a{
                min-width: var(--w-ctgy-a);
                max-width: var(--w-ctgy-a);
                height: 100%;
                background-color: #ffa600ad;
                color: white;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                overflow: hidden;
                .ctgy-top{
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                        min-height: 100%;
                    }
                }
                .ctgy-down {
                    max-width: 100%;
                    height: auto;
                    font-size: var(--fs-ctgy-down);
                    font-family: Poppins, sans-serif;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    span{
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
.ctgy-slid::-webkit-scrollbar {
display: none;
}

@media (max-width: 768px) {
    :root{
        --w-ctgy-a: 125px;
        --h-ctgy: 170px;
        --fs-ctgy-down: 13px;
    }
}
@media (max-width: 550px) {
    :root{
        --w-ctgy-a: 105px;
        --h-ctgy: 150px;
        --fs-ctgy-down: 10px;
    }
}