.featurs-product{
    padding: var(--p-featurs-product);
    margin:  var(--m-featurs-product);
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    box-shadow: 0px 0.650px 3px hsla(0, 0%, 0%, 0.178)!important;
    border-radius: 13px;
    gap: var(--g-featurs-product);
    .products{
        width: var(--w-products);
        height: var(--h-products);
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        background-color: whitesmoke;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #c0c0c038;
        // animation: scrollanimation 1.5s ease-out forwards;
        // animation-timeline: view();
        // animation-range: 0.40%;
        button{
            position: absolute;
            right: 0;
            top: 0;
            height: var(--w-products-button);
            width: var(--h-products-button);
            font-size: var(--fs-products-button);
            border-radius: 10px;
            overflow: hidden;
            background-color: rgba(255, 255, 255, 0.171);
            backdrop-filter: blur(10px);
            margin-top: 10px;
            margin-right: 15px;
            color: white;
        }
        button:hover{
            background-color: orange;
        }
        button:hover i{
            color: white !important;
        }
        .imgss{
            height: var(--h-imgss);
            width: var(--w-imgss);
            display: flex;
            justify-content: center;
            align-items: var(--ai-imgss);
                a{
                height: var(--h-imgss-a);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                    img{
                        height: 100% !important;
                        width: auto;
                        object-fit: cover;
                    }
                }
        }
        .btnSections{
            width: 100% !important;
            height: var(--h-btnSections);
            backdrop-filter: blur(17px);
            overflow: hidden;
            padding: var(--pd-btnSections);
            color: black;
            display: flex;
            flex-direction: column;
            gap: var(--g-btnSections);
            transition: 1s;
            position: var(--p-btnSections);
            bottom: 0;
            z-index: 1;
            border-top-left-radius: var(--br-btnSections);
            border-top-right-radius: var(--br-btnSections);
            background-color: #ffffffa4;
            .titles-section{
                min-height: calc(3 * var(--fs-btnSections-h1)) !important;
                max-height: calc(3 * var(--fs-btnSections-h1)) !important;
                padding: 0px 5px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2 !important;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                h1{
                    width: 100%;
                    font-size: var(--fs-btnSections-h1);
                    color: #000000c5;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
            .review-section{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0;
                h2{
                    font-size: var(--fs-btnSections-h2);
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    color: orangered;
                    text-align: center;
                }
                .review-icons{
                    display: flex;
                    align-items: center;
                }
            }
            div{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: var(--mb-btnSections-div);
                transition: 1s;
                a{
                    padding: 6px 10px;
                    background-color: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: 1.5s ease;
                    overflow: hidden;
                    opacity: var(--o-btnSections-div-a);
                    span{
                        width: 0; 
                        visibility: hidden;
                        position: absolute;
                        white-space: nowrap;
                        transition: 0.5s ease;
                        color: transparent;
                        transform: scale(0);
                        overflow: hidden;
                    }
                    i {
                        font-size: 23px;
                        color: orange;
                    }
                    }
                    a:hover {
                        background-color: orange;
                    }
                    a:hover span {
                        width: auto;
                        visibility: visible;
                        position: relative;
                        color: white;
                        transform: scale(1);
                    }
                    
                    a:hover i {
                        color: white;
                    }
                
                }
            }
    }
    .products:hover .btnSections{
        box-shadow: -2.5px -5.35px 21px hsla(0, 0%, 0%, 0.178) !important;
    }
    .products:hover .btnSections div{
        opacity: 1;
        margin-bottom: 0%;
    }
    .products:hover .btnSections a{
        opacity: 1;
    }
}

/** feturse **/
#favorited{
    i{
        color: orangered;
    }
}
.star {
    color: gray;
    font-size: var(--fs-star);
}
.star.filled {
    color: gold;
}
/** feturse **/

// @media (max-width:568px) {
    @media (max-width:700px) {
    :root{
        --w-products: 150px;
        --p-featurs-product: 10px 2px;
        --m-featurs-product: 0 10px;
        --h-products: 220px;
        --w-products-button: 30px;
        --h-products-button: 30px;
        --fs-products-button: 15px;
        --g-btnSections: 10px;
        --pd-btnSections: 5px 5px;
        --p-btnSections: relative;
        --h-imgss: 65%;
        --h-btnSections: 35%;
        --br-btnSections: 0;
        --fs-btnSections-h1: 11px;
        --fs-btnSections-h2: 12px;
        --mb-btnSections-div: 0;
        --o-btnSections-div-a: 1 !important;
        --fs-star: 10px;
    }
    .featurs-product{
        .products{
            .btnSections{
                width: 100% !important;
                .review-section{
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    margin: 0;
                    margin-bottom: 10px;
                    margin-top: -5px;
                }
                div{
                    a{
                        font-size: 12px;
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        padding: 3px 6px;
                        gap: 5px;
                        flex-direction: row-reverse;
                        border-radius: 5px;
                        i{
                            font-size: 20px;
                        }
                        &:hover i{
                            font-size: 15px;
                        }
                        span{
                            width: min-content; 
                            visibility: visible;
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}