@keyframes slideIn {
    0% {
      top: -50%;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  
}

@keyframes borderIn {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }

}