:root{
    /*** start home page ***/
    --fs-heading: 15px;

    --p-header: 0px 70px;
    --h-logoD: 50px;

    --h-carousel: 400px;

    --h-ctgy: 200px;
    --p-ctgy: 20px 80px;
    --w-ctgy-a: 180px;
    --fs-ctgy-down: 18px;

    --p-featurs-product: 25px 40px;
    --m-featurs-product: 0 20px;
    --g-featurs-product: 10px;
    --w-products: 280px;
    --h-products: 380px;
    --w-products-button: 40px;
    --h-products-button: 40px;
    --fs-products-button: 20px;
    --ai-imgss: center;
    --w-imgss: 100%;
    --h-imgss: 100%;
    --h-imgss-a: 100%;
    --g-btnSections: 10px;
    --pd-btnSections: 15px 10px;
    --p-btnSections: absolute;
    --h-btnSections:  min-content;
    --br-btnSections:  20px;
    --fs-btnSections-h1: 17px;
    --fs-btnSections-h2: 20px;
    --mb-btnSections-div: -25%;
    --o-btnSections-div-a: 0;
    --fs-star: 20px;
    /*** end home page ***/
    /*** start products page ***/
    --h-product-view-dev: 520px;
    --ai-product-view-dev: center;
    --p-product-view-dev: 20px 150px;
    --h-product-view-images: 100%;
    --w-products-images: 80px;
    --h-products-images: 100%;
    --ox-products-images: hidden;
    --v-zoom-container: visible;
    --fs-title: 21px;
    --fs-price: 24px;
    --fs-discount: 15px;
    --fs-prdct-dscrpt: 17px;
    --fs-stocks: 20px;
    --fs-sizes: 18px;
    --fs-size-label: 15px;
    --h-qty-input: 65px;
    --h-qty-btn: 30px;
    --fs-main-btn: 18px;

    --fs-description: 18px;
    --p-description: 20px 150px;
    /*** end products page ***/

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    cursor: none;

}
body::-webkit-scrollbar {
    display: none;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space{
    height: 50px;
}
.heading{
    div{
        width: min-content;
        h1{
            font-size: var(--fs-heading);
            font-weight: 600;
            font-family: poppins, sans-serif;
            color: #212529;
        }
        hr{
            width: 0%;
            border-width: 3px;
            border-color: orange;
            opacity: 1;
            border-radius: 50px;
            animation: borderIn 2.6s ease-out forwards;
        }
    }
}

@media (min-width: 768px) {
    :root{
        --fs-heading: 20px;
    }
}